

body {
    background-color: #4F6D93; 
    background-image: linear-gradient(to bottom, #FFFFFF, #4F6D93); 
    background-repeat: no-repeat;
    color: #000000;  /*color changed to black for contrast */
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: #000033;
    color: #FFFFFF;
    background-image: url(sunset.jpg);
    background-repeat: no-repeat;
    background-position: right;
    height: 60px;
    text-align: center;
    padding-top: 15px;
   }

nav {
    font-weight: bold;
    float: left;
    width: 160px;
    padding: 20px;
}

nav a {text-decoration: none;}

nav ul {list-style-type:  none;
        margin-left: 0;
        padding-left: 0;
        font-size: 1.2em;}

nav a:link {color: #000033;}
nav a:visited {color: #344873;}
nav a:hover {color: #FFFFFF;}

h1 {
    margin-bottom: 0;
    font-family: Georgia, "Times New Roman", serif;
    margin-top: 0;
}

h2 {
    color: #3399CC;
    font-family: Georgia, "Times New Roman", serif;
    text-shadow: 1px 1px 1px #CCCCCC;
}

h3 {
    color: #000033;
    font-family: Georgia, "Times New Roman", serif;
}

main ul {list-style-image: url(marker.gif);}

main {padding-top: 1px;
      padding-right: 20px;
      padding-bottom: 20px;
      padding-left: 30px;
      display: block;
      background-color: #FFFFFF;
      margin-left: 190px;
}

footer {font: 75%;
        font-style: italic;
        text-align: center;
        font-family: Georgia, "Times New Roman", serif;
        padding: 20px;
        background-color: #FFFFFF;
        margin-left: 190px;
        }

/* ID's      */
#wrapper {width: 80%;
          background-color: #90C7E3;
          min-width: 960px;
          max-width: 2048px;
          box-shadow: 3px 3px 3px #333333;
          margin-left: auto;
          margin-right: auto;
         }

#homehero {background-image: url(coasthero.jpg);
           background-repeat: no-repeat;
           height: 300px;
           background-size: 100% 100%;
           margin-left: 190px;}

#yurthero {background-image: url(yurthero.jpg);
           background-repeat: no-repeat;
           height: 300px;
           background-size: 100% 100%;
           margin-left: 190px;}

#trailhero {background-image: url(trailhero.jpg);
           background-repeat: no-repeat;
           height: 300px;
           background-size: 100% 100%;
           margin-left: 190px;}



/*  Class  */

.resort {
    color: #5C7FA3;
    font-weight: bold;
}









